@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
    /* variáveis das fontes utilizadas no projeto: 
        font-padrao -> para textos em geral; 
        font-destaque -> para títulos de primeiro nível (h1); 
        font-especial -> para botões e links; 
        font-thinkbox -> para representar o projeto. */
    --font-padrao: 'Roboto', sans-serif;
    --font-destaque: 'Lobster', cursive;
    --font-especial: 'Poppins', sans-serif;
    --font-thinkbox: 'Dune Rise', sans-serif;

    /* variáveis para representar as cores do projeto
    com base na paleta de cores, que está no figma: os números são em ordem crescente das cores da esquerda para a direita, de cima para baixo, conforme a imagem da paleta de cores que está no figma. */
    --cor01: #7F3E98;
    --cor02: #AC81BC;
    --cor03: #CDB4D7;
    --cor04: #F1F1F1;
    --cor05: #CC6FAD;
}

@font-face {
    font-family: 'Dune Rise';
    src: url(../fontes/Dune_Rise.otf) format('opentype');
    font-weight: normal;
}

@media (min-width:320px){
    body{
        background-color: var(--cor04);
        font-family: var(--font-padrao);
        font-size: 0.9rem;
        text-align: justify;
    }

/*PARTE INCOMPLETA -- FALTA FOTO DO LADO DO TITULO*/
    main{
        background-color: #fff;
        padding: 40px 30px 20px ;
    }
    h1{
        font-family: var(--font-destaque);
        font-size: 1.7rem;
        color: var(--cor01);
        margin: 30px auto;
    }
    article p{
        margin: 50px 0;
    }
    .credenciais-trg{
        position: absolute;
        top: 73px;
        right: 20px;
        width: 100px;
        height: 80px;
    }
    .credenciais-trg img{
        width: 50px;
        margin: 0 25px;
        border-radius: 50%;
    }
    .credenciais-trg p{
        font-size: 12px;
        text-align: center;
    }
    .carrossel{
        list-style-type: none;
        margin: 50px;
    }
    
/* CARDS QUE IRÃO SER O CARROSSEL*/
    .carrossel .item1
/* ,  .carrossel .item2,
    .carrossel .item3*/{
        width: 250px;
        margin: 0;
        padding: 0;
        border: 1px solid var(--cor01);
        border-radius: 30px;
    }

    .carrossel h3{
        font-family: var(--font-especial);
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--cor01);
        text-align: center;
        margin: 15px 0;
    }
    

    .carrossel p{
         font-size: 1.6rem;
         text-align: center;
         margin: 0 0 20px;
    }
    .carrossel  ul{
        list-style-image: url(/imagens/list-img.svg);
        list-style-position: inside;
        margin: auto 20px;
    }


    .assinar{
        width: 150px;
        height: 33px;
        margin: 34px 45px;
        border: 1px solid var(--cor01);
        border-radius: 40px;
        background-color: var(--cor01);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .assinar a{
        color: #fff;
        text-decoration: none;
    }

/* TÍTULO DA "SEÇÃO ATENDIMETOS" E DA "SEÇÃO CONTATOS"*/
    h2{
        font-family: var(--font-destaque);
        font-size: 2rem;
        text-align: center;
        color: var(--cor01);
        padding: 20px 0;
    }
    
/*SEÇÃO ATENDIMETOS*/
    .atendimento{
        background-color: #fff;
        padding: 40px 30px 20px;
    }
    #central-line{
        text-align: center;
    }
    .atendimento p{
        padding: 15px 0px;
    }
    .atendimento img{
        width: 100%;
    }

/*CONFIGURAÇÃO DA LISTA DE TRANSTORNOS*/
    .transtornos-emocionais{
        display: flex;
        justify-content: center;
        align-items: first baseline;
    }
    .lista-transtornos-emocionais{
        list-style-position: inside;
        margin: auto auto 30px;
    }
    .lista-transtornos-emocionais li{
        margin:10px 5px 3px 0;
    }
    
/*SEÇÃO "CONTATOS"*/
    .atendimento{
        background-color: #fff;
        padding: 40px 30px 20px;
    }
    .atendimento p{
        padding: 15px 0px;
    }
    .contato{
        width: 250px ;
        margin: 80px auto;
        padding: 20px 0;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.6);
    }
    .gmail-btn-contato, .insta-btn-contato, .whats-btn-contato{
        width: 175px;
        height: 33px;
        margin: 12px 0 12px 39px;
        background-color: #fff;
        border-radius: 10px;
    }
    .gmail-btn-contato{
        border: 1px solid #C71610;
        color: #C71610;
    }
    .insta-btn-contato{
        border: 1px solid #E1306C;
        color: #E1306C;
    }
    .whats-btn-contato{
        border: 1px solid #25D366;
        color: #25D366;
    }
}
@media (min-width:480px) {
    main, .atendimento{
        padding: 40px 50px 50px;
    }
    h1{
        font-size: 2.2rem;
    }
    article p{
        margin: 70px auto 10px;
    }
    .credenciais-trg{
        width: 200px;
        top: 100px;
        right: 10px;
    }
    .credenciais-trg img{
        width: 80px;
        height: 80px;
        margin: 0 60px;
    }
    .atendimento p{
        margin: 20px 0;
    }
    .transtornos-emocionais{
        padding: 0;
        justify-content: space-around;
    }
    .lista-transtornos-emocionais{
        margin: 0 20px 0;
    }
    .lista-transtornos-emocionais li{
        margin:10px 0;
    }
    .contato{
        width: 250px ;
        margin: 80px auto;
    }
    .gmail-btn-contato, .whats-btn-contato, .insta-btn-contato{
        margin: 12px 0 12px 39px;    
    }
}
@media (min-width:600px) {
    main, .atendimento{
        padding: 40px 70px 50px;
    }
    h1{
        font-size: 2.2rem;
    }
    article p{
        margin: 70px auto;
    }
    .credenciais-trg{
        width: 200px;
        top: 100px;
        right: 40px;
    }
    .credenciais-trg img{
        width: 80px;
        height: 80px;
        margin: 0 60px;
    }
    .transtornos-emocionais{
        padding: 0;
        justify-content: center;
    }
    .lista-transtornos-emocionais{
        margin: 0 20px 0;
    }
    .lista-transtornos-emocionais li{
        margin:10px 0;
    }
    .contato{
        width: 250px ;
        margin: 80px auto;
    }
    .gmail-btn-contato, .whats-btn-contato, .insta-btn-contato{
        margin: 12px 0 12px 39px;    
    }
}
@media (min-width:801px) {
    h1{
        margin: 60px 30px;
    }
    article p{
        margin: 100px 30px 20px;
    }
    .credenciais-trg{
        width: 200px;
        height: auto;
        top: 120px;
        right: 60px;
    }
    .credenciais-trg img{
        width: 100px;
        height: 100px;
        margin: 0 50px;
    }
    .pacotes-seções{
        margin: 0;
        padding: 50px;
        height: 550px;
        background-image: url(../imagens/pacotes-desktop.svg);
        background-size: cover;
    }
    .carrossel{
        margin: 0;
        width: 230px;
        height: 180px;
    }
    .carrossel li{
        background-color: var(--cor04);
    }
    .bg-color-desktop li{

        background-color: rgba(172, 129, 188, 0.25);
        padding:5px 15px;
    }
    .bg-color-desktop li:nth-child(1){
        border-radius:10px 10px 0 0;
    } 
    .bg-color-desktop li:nth-child(5){
        border-radius: 0 0 10px 10px;
    }
    .assinar{
        border: none;
        background-color: var(--cor02);
    }
    .atendimento{
        margin: 0;
        padding:20px 60px;
        display: grid;
        grid-template-columns: 300px 500px;
        grid-template-rows: 120px 200px 1200px;
        grid-template-areas: "title imagem"
                            "listinha imagem"
                            "textgiga textgiga"
    }
    .transtornos-emocionais{
        margin: 0;
        padding: 0;
        width: 300px;
        justify-content: left;
    }
    .atendimento h2{
        font-size: 2.3rem;
        text-align: left;
        grid-area: title;
        margin: 0 0 20px;
    }
    .textogiga{
        width: 660px;
        padding:0;
        margin:0;
        grid-area: textgiga;
    }
    #central-line{
        text-align: left;
        margin: 80px 0;
        grid-area: title;
    }
    .lista-transtornos-emocionais {
        grid-area: listinha;
        margin: 20px 0 auto;
    }
    .lista-transtornos-emocionais li{
        margin: 0 10px 10px 0;
    }
    .atendimento img{
        width: 400px;
        margin: 50px 100px 0 0;
        grid-area: imagem;
    }
    

}
@media (min-width:1025px) {
    h1{
        font-size: 2.4rem;
        margin: 60px 30px;
    }
    article p{
        margin: 100px 30px 20px;
    }
    .credenciais-trg{
        width: 300px;
        right: 18px;
    }
    .credenciais-trg img{
        width: auto;
        height: 150px;
        margin: 0 90px;
    }
    .atendimento{
        padding: 0;
        grid-template-columns: 500px 700px;
        grid-template-rows: 120px 200px 1100px;
    }
    .transtornos-emocionais{
        margin: 20px 60px;
        width: 400px;
    }
    .atendimento h2{
        font-size: 2.3rem;
        margin: 20px 60px 20px;
    }
    .textogiga{
        width: 900px;
        margin: 60px;
    }
    #central-line{
        margin: 100px 60px;
    }
    .lista-transtornos-emocionais {
        margin: 20px 0 auto;
    }
    .atendimento img{
        width: 450px;
        margin: 60px 0;
    }
}
@media (min-width:1251px) {
    body{
        font-size: 1rem;
    }
    h1{
        font-size: 3.4rem;
        margin: 60px 30px;
    }
    article p{
        margin: 100px 30px 20px;
    }
    .credenciais-trg{
        width: 300px;
        right: 40px;
        top: 130px;
    }
    .credenciais-trg img{
        width: auto;
        height: 150px;
        margin: 0 90px;
    }
    .pacotes-seções{
        height: 650px;
    }
    .atendimento{
        padding: 0;
        grid-template-columns: 600px 700px;
        grid-template-rows: 120px 200px 1100px;
    }
    .transtornos-emocionais{
        margin: 40px 140px;
        width: 400px;
    }
    .atendimento h2{
        font-size: 2.3rem;
        margin: 20px 140px 20px;
    }
    .textogiga{
        width: 1100px;
        margin: 0 110px;
    }
    #central-line{
        margin: 100px 140px;
    }
    .lista-transtornos-emocionais {
        margin: 20px 0 auto;
    }
    .atendimento img{
        width: 500px;
        margin: 60px 0;
    }
    .contato{
        width: 350px;
        height: 400px;
    }
    .gmail-btn-contato, .insta-btn-contato, .whats-btn-contato{

        width: 200px;
        height: 45px;
        margin: 30px 0 12px 70px;
    }
}